<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!-- namespace命名空间，作用就是对sql进行分类化管理，隔离sql
     注意：使用mapper代理方法开发，namespace用重要的作用
  --> 
<mapper namespace="cn.lzp.mapper.StudentMapper">
   <!--
   <select id="findStudentBySid" parameterType="int" resultType="cn.lzp.mapper.StudentMapper">
          SELECT * FROM db_student WHERE sid=#{value}
   </select>
   
     -->
</mapper>
